<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>stuff %-5level %X{ruid} [%logger{0}] %m%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT_ACTIVITY" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-30thread %msg%n</pattern>
		</encoder>
	</appender>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
	<logger name="org.araqnid.stuff.activity.LogActivityEvents" additivity="false" level="error">
		<appender-ref ref="STDOUT_ACTIVITY" />
	</logger>
</configuration>
